<!DOCTYPE HTML>
<html lang="en">
<head>
</head>

<body>

<div class="comment">
  <div class="container">
    <form class="registration" data-toggle="validator" role="form" method="POST">
      <div class="form-group">
        <label for="comment_web" class="control-label col-sm-3">Comment</label>
        <input class="form-control" name="body" value="{{article.body}}" required></input>
      </div>
      <button type="submit" value="submit" class="button_2">Submit</button>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/script.js"></script>
<script src="js/jquery.scrollify.js"></script>
<script src="js/close_menu.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
