<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adam Chmielewski</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">

        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>

    <body>
        <div class="background"></div>

        <i class="fa fa-bars toggle_menu" style="font-size: 4em;"></i>

        <div class="sidebar_menu">

        		<i class="fa fa-times" style="font-size: 4em;"></i><br><br>
        		<center>
        			<a href="#"><h1 class="boxed_item">Adam <span class="logo_bold">CHMIELEWSKI</span></h1>
        		</center><br><br>

            <center>
          		<ul class="navigation_section">
                <a href="/#1"><li class="navigation_item">HOME</li></a>
                <a href="/web"><li class="navigation_item">WEB DEVELOPMENT</li></a>
                <a href="/graphics"><li class="navigation_item">GRAPHICS</li></a>
                <a href="/3d"><li class="navigation_item">3D MODELLING</li></a>
                <a href="/about"><li class="navigation_item">ABOUT ME</li></a>
          		</ul>
            </center><br><br>

        		<center>
              {{#if user}}
                <a href="/dashboard/{{user.id}}"><button class="button_side" id="signup"><i class="fa fa-user"></i> DASHBOARD</button></a><br>
                <a href="/logout"><button class="button_side" id="login"><i class="fa fa-sign-out"></i> LOG OUT</button></a>
              {{else}}
                <a href="/sign_up"><button class="button_side" id="signup"><i class="fa fa-user-plus"></i> SIGN UP</button></a><br>
                <a href="/login"><button class="button_side" id="login"><i class="fa fa-sign-in"></i> LOG IN</button></a>
              {{/if}}
              <div class="footer-social-icons">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        		</center>
        </div><!-- End of sidebar -->

        <div class="loginbox">
          <img src="images/avatar.png" class="avatar">
          <form class="registration" data-toggle="validator" role="form" method="POST">
            <h3>Welcome back!</h3><br><br>
            <center class="flash-msg-good"><b>{{msg}}</b></center>
            <div class="form-group">
              <label for="inputUsername" class="control-label col-sm-3">Username</label>
              <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" data-error="Username must be at least 6 characters long" data-minlength="6" required>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="control-label col-sm-3" >Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" data-minlength="6" pattern="^[a-zA-Z0-9_.-]*$" data-error="password must have at least one digit and be 6 characters long" required>
            </div>
            <a style="color: white;">Forgot your password?</a><br>
            <a style="color: white;">Don't have an account?</a><br>
            <button type="submit" class="button_3">LOG IN</button>
          </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="js/script.js"></script>
        <script src="js/jquery.scrollify.js"></script>
        <script src="js/close_menu.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
